{% extends 'base.html' %}

{% block page_content %}
<style>
	.imag{
		background-image: url('/media/media/bgd.jpeg')
	}
</style>
 <section class="hero is-info is-fullheight imag">
	<div class="hero-body">
		<div class="container">

			<div class="columns is-centered">
				<div class="column is-two-fifths">
					<form action="" method="POST" ><!--class="box"-->
						{% csrf_token %}
						<div class="field">
							<label class="label">Nom d'utilisateur</label>
							<div class="control">
								<input class="input" placeholder="Votre Nom d'utilisateur" id="username"
								name="username" required>
							</div>
						</div>

						<div class="field">
							<label class="label">Mot de Passe</label>
							<div class="control">
								<input class="input" type="password" placeholder="Votre mot de passe"
									id="password" name="password" required>
							</div>
						</div>

						<p class="mt-2">
						<div>
							<div class="control">
								<button class="button is-success" type="submit">Se Connecter</button>
							</div>
						</div>
						</p>
					</form>
					{% for message in messages %}
						<p id="messages">{{message}}</p>
					{% endfor %}
					<div class="mt-4">
						<div class="d-flex justify-content-center links">
							<p class="mt-6 has-text-centered">Pas encore de compte ? <a href="{% url 'register' %}"
								class="tag is-white is-medium">Créez-en un</a></p>	
						</div>
					
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}