{% extends 'base.html' %}
{% block page_content %}
  <!-- About -->
  <section class="section" id="about">
    <hr>
    <!-- Title -->
    <div class="section-heading">
      <h3 class="title is-2 ">Qui sommes-nous ?</h3>
      <div class="container">
        <p>Qui sommes-nous ? <strong> Sequence.ai </strong> est un projet imaginé et conçu par de jeunes étudiants de l'Université Gaston de Saint Louis
        <br> qui sont passionnés et motivés par le développement technologique du continent africain et qui donc, conçoivent des solutions dans ce sens ! </p>
      </div>
    </div>
  </section>
{% endblock %}